
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

 * {
    font-family: 'Rubik', sans-serif;
}

html {
    background: black;
}

body {
    background-image: url(./images/topo1.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 112.5rem;
    background-position: center;
    font-family: 'Rubik', sans-serif;
}


h1 {
    display: flex;
    justify-content: center;
    color: white;
    margin: 0.2rem;
    font-size: 4rem;
    text-shadow: 0px 0px 20px #F090FF;
}


h2 {
    display: flex;
    justify-content: center;
    color: azure;
    font-size: 3rem;
} 

#icon {
    width: 2.813rem;
    height: 2.813rem;
    cursor: pointer;
    padding-top: 0.85rem;
    text-shadow: 0px 0px 20px #F090FF;
}

.start-game {
    display: grid;
    grid-template-columns: repeat(7, 70px);
    grid-template-rows: repeat(1, 70px);
    row-gap: 5px;
    column-gap: 5px;
    width: 550px;
    height: 75px;
    justify-content: center;
    border-radius: 10%;
    margin: 0 auto;
}

.cell-start {
    border-radius: 100%;
}

:root {
    --player: gold;
}

.cell-start:hover {
    background-color: var(--player);
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, 70px);
    row-gap: 5px;
    column-gap: 5px;
    width: 550px;
    height: 450px;
    margin: 0 auto;
    justify-content: center;
    background-color: #5d4257;
    background-image: linear-gradient(315deg, #5d4257 0%, #a5c7b7 74%);
    /* background-color: rgb(112, 148, 112); */
    border-radius: 10%;
    padding: 2rem;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 10px 10px 25px 10px #000000;
}

.cell {
    border: 1px solid black;
    background-color: black;
    border-radius: 100%;
}

.PURPLE {
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
}

.YELLOW {
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
}

footer {
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.playAgain button{
    border-color: whitesmoke;
    border-width: 5px;
    background-color: black;
    color: white;
    border-radius: 30%;
}

/* I got this from https://cssbuttons.io/ */

button {
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    -webkit-box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
            box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
   }

   button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    -webkit-filter: blur(2em);
            filter: blur(2em);
    opacity: .7;
    -webkit-transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
            transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }
   
   button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    -webkit-box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
            box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }
   
   button:active {
    -webkit-box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
            box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
   }
